@import '~bootstrap/dist/css/bootstrap.min.css';

/* html {



}

body {
    font-family: sans-serif;
    background-color: transparent !important;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
} */
