
<div class="container-fluid bg-image">
  <div class="mx-5 pt-5">
    <div class="h4 text-center text-white">Welcome to Online Flight Booking System</div>
    <div class="row align-items-center mt-5">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-center mt-3">
            <p class="h6">Flight Search</p></div>
            <div class="form-group">
              <label for="inputField">From</label>
              <input
                type="text"
                class="form-control"
                id="inputField"
                placeholder="Enter your value"
              />
            </div>

            <div class="form-group">
              <label for="inputField">To</label>
              <input
                type="text"
                class="form-control"
                id="inputField"
                placeholder="Enter your value"
              />
            </div>

            <div class="form-group col-md align-items-start flex-column">
              <label for="date">Date</label>
              <input
                type="date"
                class="form-control"
                placeholder="Date"
                onkeydown="return false"
                required
              />
            </div>

            <div class="d-flex justify-content-center mt-3">
              <button class="btn btn-outline-primary btn-sm">Search</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
