<h1>Welcome to Online Flight Booking System</h1>
<form>
<div class="row">
    <h1>Flight Search</h1>
    <div class="form-group col-md align-items-start flex-column"> 
       <label for="origin">From</label> 
       <input type="text" class="form-control" id="origin" name="origin" style="width:400px;"
          required> 
    </div>

    <div class="form-group col-md align-items-start flex-column"> 
       <label for="depart">To</label> 
       <input type="text" class="form-control" id="depart" name="depart" style="width:400px;"
          required> 
    </div>

    <div class="form-group col-md align-items-start flex-column"> 
       <label for="date">Date</label> 
       <input type="date" class="form-control" id="date" name="date" style="width:400px;"
          onkeydown="return false" required> 
    </div>
</div>
    <body>
        <a href="#" class="btn btn-primary" role="button" type="button">Search</a>
    </body>
</form>